h1{
    text-align: center;
}

 /* The side navigation menu */
 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("/static/navbar.jpeg");
  background-size: contain; /* Ensure entire image fits */
  background-position: left center; /* Align to the left */
  background-color: black; /* Add black bar if width is insufficient */
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  background-position: right center;
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d8d8d8;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;

    background: black;
    border: none;
    

  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

body, html {
    height: 100%;
}

.block {
  width: calc(100% - 30vw); /* This reduces the width by 200px */
  position: relative;
  left: 15vw;
  top: 1vw;
  background-color: #f3f0f0;
  border-radius: 15px;
  padding: 20px;
 
}
@media (max-width: 700px) {
  .block {
    width: calc(100% - 10vw); /* This reduces the width by 200px */
    position: relative;
    left: 5vw;
    top: 1vw;
    background-color: #f3f0f0;
    border-radius: 15px;
    padding: 20px;
   
  }
}
.content {
  overflow: hidden; 
}
.blockspace{
  padding-bottom: 25px;
}
.img{
  height: 300px;
   float: right;
   margin-left: 20px;
   object-fit: cover;
}
@media (max-width: 700px) {
.img{
  width: 80vw;
  border-radius: 5px;
}
}

.inline {
  display: inline;
}

.inline span {
  display: inline-block; /* if not used remove */
}




.datum {
  font-style: italic;
  color: #333333;
  margin-bottom: 10px;
}



pre {
  font-family: inherit; /* Inherits font family from parent */
  font-size: inherit; /* Inherits font size from parent */
  white-space: pre-wrap;
}


