h1{
    text-align: center;
}

body, html {
    height: 100%;
}

.block {
  width: calc(100% - 30vw); /* This reduces the width by 30vw */
  position: relative;
  left: 15vw;
  top: 1vw;
  background-color: #f3f0f0;
  border-radius: 15px;
  padding: 20px;
  display: block; /* Umožňuje, aby odkaz bol blokový prvok */
  box-sizing: border-box; /* Zabezpečí, že padding a border sa započítavajú do šírky a výšky */
}

@media (max-width: 700px) {
  .block {
    width: calc(100% - 10vw); /* Adjust width for smaller screens */
    left: 5vw;
    top: 1vw;
    padding: 20px;
  }
}

.content {
  overflow: hidden; 
}

.blockspace {
  padding-bottom: 25px;
}

.img{
  height: 300px;
   float: right;
   margin-left: 20px;
   object-fit: cover;
}
@media (max-width: 700px) {
.img{
  width: 80vw;
  border-radius: 5px;
}
}

.inline {
  display: inline;
}

.inline span {
  display: inline-block; /* if not used remove */
}




.datum {
  font-style: italic;
  color: #333333;
  margin-bottom: 10px;
}

.active {
  background-color: rgb(13, 110, 253);
  color: white;
}

pre {
  font-family: inherit; /* Inherits font family from parent */
  font-size: inherit; /* Inherits font size from parent */
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1200px) {
  .block-title {
    font-size: 2.5rem;
  }
}

.block-title {
  font-size: calc(1.8rem + 0.4vw);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}