{% extends 'layout.html' %}
{% block head %}
    <meta name="description" content="História Farnosti Rišňovce.">
    <title>Kľačany - História</title>
{% endblock %}
{% block main %}

<div class="blockspace">
    <div class="block content">
        <h1>Obec Kľačany</h1>
        <pre>
            Kľačany ležia v juhozápadnej časti Nitrianskej pahorkatiny v doline potoka Andač. Obec sa prvýkrát spomína v roku 1256 pod názvom Kelechent, vtedy patrila panstvu Hlohovec. Do tohto panstva patrila obec až do konca feudalizmu. Celá história Kľačian až do začiatku dvadsiatych rokov 19. storočia bola súčasťou histórie hlohoveckého hradného panstva.
            Aké boli osudy obce pred rokom 1256, nevieme. Predpokladáme, že existovali už počas 8. - 10. storočia. Z tohto obdobia sa tu archeologickým prieskumom našlo slovanské pohrebisko z doby Veľkomoravskej ríše. Podľa viacerých autorov mal názov obce základ v slove klčovať. Z iného zdroja sa dozvedáme, že obec Kľačany je pomenovaná podľa vyhľadávaného kráľovského sokola poľovníckeho, nazývali ho „klečen“ alebo „kľačan“.
           Prvoradou bola poľnohospodárska výroba na miestnych poliach, lúkach a pasienkoch. Časť obyvateľov mala vinohrady, dorábali víno nielen pre vlastnú spotrebu, ale aj na predaj. Začiatkom 20. storočia tu fungoval menší liehovar.
           Úspešný rozvoj obce nastal po roku 1945. Zvyšovalo sa tempo výstavby rodinných domov.
           Počas Do novodobej histórie obce výrazne zasiahol aj národný podnik Benzinol. Vďaka tomuto podniku sa obec Kľačany stala známa na celom Slovensku.
        </pre>
    </div>
</div>
<br>

{% endblock %}
