{% extends 'layout.html' %}
{% block head %}
    <title>Sasinkovo - História</title>
    <meta name="description" content="Obec Sasinkovo - história a pôvod názvu. Prvá zmienka z roku 1256 ako Sag, neskôr Šág, súčasné meno od roku 1948 podľa Františka Víťazoslava Sasinka. Obec má bohatú poľnohospodársku tradíciu a historické korene medzi kráľovskými rybármi." />
{% endblock %}
{% block main %}

<div class="blockspace">
    <div class="block content">
        <h1>Obec Sasinkovo</h1>
        <pre>
            Sasinkovo leží v juhozápadnej časti Nitrianskej pahorkatiny. Obec v priebehu svojej histórie menila aj svoj názov. Pred rokom 1920 to bol Sag. V rokoch 1920 - 1948 to bol Šág a od roku 1948 Sasinkovo. Pomenovanie Sasinkovo dostala obec po Františkovi Víťazoslavovi Sasinkovi (1830 - 1914), katolíckom kňazovi a slovenskom vzdelancovi, autorovi početných historických diel.
            Obec sa spomína prvý raz v roku 1256 pod názvom Sag, ako majetok kráľovských rybárov. Ako v minulosti, tak aj dnes sa obyvateľstvo zaoberá prevažne poľnohospodárstvom. Kedysi tu boli rozsiahle vinice.
        </pre>
    </div>
</div>

{% endblock %}
