{% extends 'layout.html' %}
{% block title %} Homílie {% endblock %}
{% block head %}
    <title>Farnosť Rišňovce - Homílie</title>
    <meta name="description" content="Archív nedeľných homílií PhDr. PaeDr. Jozefa Jurinu PhD., ktoré prinášajú myšlienky a posolstvá k aktuálnym evanjeliám. Prečítajte si podnetné úvahy na každú nedeľu." />
{% endblock %}
{% block main %}

<style>
    pre {
    white-space: pre-wrap;
    font-size: 120%;
}
</style>
<div class="blockspace">
    <div class="block content">
        <form action="/homilie" method="post">
            <label for="date">Hľadať podľa dátumu:</label>
            <input type="date" id="date" name="date" required>
            <input type="submit" value="Hľadať">
        </form>
    </div>
</div>
{% for row in list %}
<div class="blockspace">
    <div class="block content">
        <h1>{{ row[3] }}</h1>
        <em>{{ row[1] }}</em>
        <h4>{{ row[2] }}</h4>
        <pre>{{ row[4] }}</pre>
    </div>
</div>
{% endfor %}

{% endblock %}