{% extends 'layout.html' %}
{% block title %} Farnosť Rišňovce {% endblock %}
{% block head %}
    <title>Farnosť Rišňovce</title>
    <meta name="description" content="Sledujte najnovšie udalosti a oznamy z farnosti Rišňovce, vrátane filiálok Kľačany a Sasinkovo. Buďte informovaní o dôležitých aktivitách a komunitných podujatiach." />
{% endblock %}
{% block main %}
<!-- Hero image  CSS-->
<style>
    /* The hero image */
.hero-image {
  /* "linear-gradient" to add a darken background effect to the image.*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/hero.jpg");

  /* Set a specific height */
  height: 40%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.blockspace .block .img').forEach(function(image) {
          image.addEventListener('contextmenu', function(event) {
              event.preventDefault();
              alert('Plné rozlíšenie fotografíi nájdete po rozkliknutí alebo vo fotogalérii.');
          });
      });
  });

  function submitForm(id) {
      document.getElementById('postForm_' + id).submit();
  }
</script>

<!-- Hero image -->
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-weight: bolder; font-size:2rem;">Vitajte na stránke Farnosti Rišňovce</h1>
  </div>
</div> 
  
  <!-- Post blocks-->
  {% for row in list %}
  <div class="blockspace">
      <div class="block content" onclick="submitForm('{{ row[0] }}')">
        {% if row[2] and row[2] != '/static/images/' %}
        <img src="{{ row[2].replace('.', '_low.')}}" alt="{% if row[3] %}{{ row[3] }}{% else %}Fotografia z udalostí vo farnosti{% endif %}" class="img" loading="lazy">
        {% endif %}
          <h1 style="text-align: left;">{{ row[1] }}</h1>
          <p class="datum">{{ row[4] }}</p>
          <pre>{{ row[5][0:300] }}{% if row[5] | length > 300 %}.... <strong>Zobraziť viac</strong>{% endif %}</pre>
      </div>
      <form id="postForm_{{ row[0] }}" action="/post" method="GET" style="display: none;">
          <input type="hidden" name="id" value="{{ row[0] }}">
      </form>
  </div>
  {% endfor %}

{% endblock %}