{% extends 'layout.html' %}
{% block head %}
    <title>Kalendár</title>
    
{% endblock %}
{% block title %} Kalendár {% endblock %}
{% block main %}
<div class="blockspace">
    <div class="block content">
        <h1>Odber kalendára</h1>
<div style="background-color:#ffcccc; color:#a00; padding:10px; border:1px solid #a00; margin-top:20px;">
  <strong>Upozornenie:</strong> Táto funkcia je ešte v experimentálnej fáze.  
  Vaše názory, pripomienky a hlásenia chýb môžete poslať prostredníctvom <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJk9noq7VqZDfNXjBS--QzPBaVeIwoXpngpC3ZGCPfcLfRwg/viewform?usp=dialog" target="_blank" style="color:#a00; text-decoration:underline;">tohto dotazníka</a>.
  Na odstránení technických problémov sa pracuje.
</div>
<p>Predstavujeme novú funkciu – automatické pridávanie udalostí do Vášho kalendára.</p>
<p>Po kliknutí sa všetky plánované udalosti zobrazia priamo vo Vašom kalendári na počítači, mobile alebo tablete. Funguje to s Google Kalendárom, Apple Kalendárom, Outlookom a ďalšími.</p>
<p>Všetko bude možné prezerať, aj keď nebudete pripojení na internet.</p>
<p><strong>Pre pridanie kalendára kliknite na tento odkaz:</strong></p>
<p><a href="https://timotejruzicka.vercel.app/blog/odber_kalendaru_ios" target="_blank"  style="all: unset; color: blue; text-decoration: underline; cursor: pointer;">Ako pridať kalendár do iPhone?</a></p>
<p><a href="/cal.ics" download style="all: unset; color: blue; text-decoration: underline; cursor: pointer;">Odoberať kalendár s udalosťami</a></p>
<p>Takto budete mať vždy prehľad o všetkých podujatiach, bez potreby hľadať ich na webe alebo Facebooku.</p>


{% endblock %}
