{% extends 'layout.html' %}
{% block head %}
    <title>{{ book.title }}</title>
    <link rel="stylesheet" href="/static/css/book.css">
    <meta name="description" content="
        {% if book.title %} Kniha {{ book.title }}{% endif %}
        {% if book.author %} od autora {{ book.author }}{% endif %}
        {% if book.additional_authors %} a spoluautora {{ book.additional_authors }}{% endif %}
        {% if book.year %}, publikovaná v roku {{ book.year }}{% endif %}
        {% if book.publishers %} vydavateľstvom {{ book.publishers }}{% endif %}
        {% if book.physical_description %}. Obsahuje {{ book.physical_description }}{% endif %}
        {% if book.key_words %}. Kľúčové slová: {{ book.key_words }}{% endif %}
        {% if book.location %}. Kniha je dostupná v {{ book.location }}{% endif %}
    ">
{% endblock %}
{% block main %}

<div class="blockspace">
    <div class="block content">
        <h1 class="book-title">{{ book.title }}</h1>
        <h2 class="book-subheading">{{ book.subheading }}</h2>

    <div class="book-page">
        <div class="book-image">
            <img src="{{ file_map.pages.publikacie }}{{ book.image }}" alt="Obálka knihy {{ book.title }} od autora {{ book.author }}{% if book.year %} z roku {{ book.year }}{% endif %}.">
        </div>
        <div class="book-info">
            
            <!-- Informácie umiestnené pod obrázkom -->
            <div class="book-details">
                <p class="book-author">Autor: {{ book.author }}</p>
                {% if book.additional_authors %}
                <p class="book-additional-authors">Spoluautor: {{ book.additional_authors }}</p>
                {% endif %}
                {% if book.publishers %}
                <p class="book-publisher">{{ book.publishers }}</p>
                {% endif %}
                {% if book.year %}
                <p class="book-year">Rok vydania: {{ book.year }}</p>
                {% endif %}
                {% if book.ISBN %}
                <p class="book-isbn">ISBN: {{ book.ISBN }}</p>
                {% endif %}

                {% if book.document_type %}
                <p class="book-document-type">Druh: {{ book.document_type }}</p>
                {% endif %}
                {% if book.EAN %}
                <p class="book-ean">EAN: {{ book.EAN }}</p>
                {% endif %}
                {% if book.key_words %}
                <p class="book-keywords">Kľúčové slová: {{ book.key_words }}</p>
                {% endif %}
                {% if book.language %}
                <p class="book-language">Jazyk: {{ book.language }}</p>
                {% endif %}
            </div>
            
            <p class="book-description">{{ book.description }}</p>
            {% if book.location %}
            <p class="book-location">Dostupnosť: {{ book.location }}</p>
            {% endif %}
            {% if book.physical_description %}
            <p class="book-physical-description">{{ book.physical_description }}</p>
            {% endif %}
            <p class="book-notes">{{ book.notes }}</p>
        </div>
    </div>

    </div>

</div>

{% endblock %}
