{% extends 'layout.html' %}
{% block title %} Kontakt {% endblock %}
{% block head %}
    <title>Farnosť Rišňovce - Kontakt</title>
    <meta name="description" content="Kontakt na farnosť Rišňovce: telefónne číslo, adresa, IČO, DIČ, email a kontaktné informácie na administrátora webu." />
    <link rel="stylesheet" href="/static/css/kontakt.css">
{% endblock %}
{% block main %}
<div class="block">
    <h1>Kontakt</h1>
    <p><strong>Telefónne č.: </strong><a href="tel:+421903450227">0903 450 227</a></p>
    <p style="margin-bottom: 0;"><strong>Adresa: </strong></p>
    <address margin-top="0" margin-bottom="">Rišňovce 136, 951 21</address>
    <p><a href="https://gdpr.kbs.sk/" target="_blank">Ochrana osobných údajov</a></p>
    <p><strong>IČO: </strong>34015302</p>
    <p><strong>DIČ: </strong>2021970863</p>
    <p><strong>Email: </strong><a href="mailto:farnost.risnovce@abu.sk">farnost.risnovce@abu.sk</a></p>
    <p><strong>Administrátor webu: </strong><a href="mailto:timotej.ruzicka@risnovcefara.sk">timotej.ruzicka@risnovcefara.sk</a></p>
</div>

{% endblock %}
