{% extends 'layout.html' %}
{% block head %}
    <title>Krížová cesta</title>
    
{% endblock %}
{% block title %} Krížová cesta {% endblock %}
{% block main %}
<div class="blockspace">
    <div class="block content">
        <h1>Krížová cesta</h1>
        <h3>Úvodná modlitba</h3>
          <p>Aj dnešnou krížovou cestou sa spolu s Kristom vydáme po uliciach a uličkách sveta i srdca. Niektoré zastavenia na týchto cestách nám budú veľmi dobre známe aj z nášho života. Iné nás možno zarazia a budú nám nepríjemné a niektoré si
            ani
            nevšimneme. Takto človek vníma svoje cesty a tak vníma aj krížovú cestu Krista. Preto v jej úvode chcem vysloviť prvú prosbu: Daj Pane, aby nám táto Tvoja cesta skrížila naše cesty a nasmerovala nás na tú, ktorá vedie do života.
            <br><strong>R.</strong> Amen.
          </p>
          <h3>1. zastavenie – Pán Ježiš je odsúdený na smrť</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Neustále prebiehajúci proces človeka nad človekom. Je posudzovaný z každej strany. Musí dosiahnuť určitý stupeň vzdelania, mať určitý titul, kredit, image (imidž), odporúčanie, schválenie, podpis. Musí spĺňať určité kritéria,
            pripomienky
            a nariadenia. Musí byť rozhľadený a inteligentný. Musí mať za sebou niekoľkoročnú prax a skúsenosti, fyzicky zdatný a duševne zrelý. Bude to vôbec ešte človek? Koľkým ľuďom takéto podmienky zobrali všetku nádej na svoje miesto v
            živote?
            Koľkým zobrali chlieb z rúk a pripravili život v zúfalstve? Koľkým urýchlili smrť a koľkých doslova zabili? Toto prvé súdne uvažovanie by nemalo konca. Nielen vo svete, ale aj v mnohých srdciach sa opakuje tento prvý nespravodlivý
            výjav
            z krížovej cesty – výjav sudcu Piláta a súdeného Krista. A predsa ešte je tu jedna otázka do môjho srdca: Vo svojom živote sa cítim viac Pilátom alebo Kristom? Viac sudcom alebo odsúdeným? Teraz však prosme spoločne za všetkých:<br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.

          </p>

          <h3>2. zastavenie – Pán Ježiš berie kríž na svoje plecia</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Kríž jednoročného dieťaťa – to je neschopnosť prehovoriť vlastným jazykom a úplná odkázanosť na druhých. Kríž osemnásťročného mládenca či dievčaťa – to je túžba po samostatnosti, uplatniť sa v živote, nájsť si toho pravého, či tú
            pravú….
            Kríž štyridsaťročného muža či ženy – to je život kdesi v polovici, možno zle platená alebo stratená robota, odcudzená rodina, neistá budúcnosť. Kríž šesťdesiatročného dôchodcu – to je zase zodraté zdravie, malý dôchodok a všetko drahé.
            Kríž osemdesiatročného starca – to je život pomaly uberajúci sa k cieľu, stupňujúca sa bolesť, zvyšujúca sa skleróza a čoraz viac prítomná samota. Kríž zomierajúceho človeka – to sú iba dve otázky: Ako som žil? A čo bude so mnou ďalej?
            Brat, sestra! Aj dnes si zobral svoj kríž. Čo by si o ňom povedal Kristovi? Vládzeš ešte? Alebo si to už stokrát oľutoval? Pri tomto zastavení sa nám nechce veriť, že Kristus svoj kríž zobral s ochotou. Ale možno ho zobrať iným
            spôsobom?
            Ochota robí kríž ľahším, robí ho krížom Kristovým.
            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.

          </p>

          <h3>3. zastavenie – Pán Ježiš prvý raz padá pod krížom</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Prvé zaváhanie, prvé pošmyknutie, prvé potknutie, prvé padnutie. Toto všetko nás upozorňuje, že to čo bude ďalej, nebude až také ľahké. Krížová cesta nepatrí medzi cesty výletné. Patrí medzi cesty, na ktorých človek prichádza o život,
            ale na ktorej aj život nájde. Tento prvý pád Kristov dal sa očakávať. Určite to ľudia čakali. Veď odsúdenca väčšinou hnali, nedávali mu čas na oddych a na nazbieranie nových síl. Pri prvom páde ešte človek vie pochopiť človeka. Ale sú
            aj
            ľudia, ktorí sa neradi mýlia a ešte menej druhým odpúšťajú. Sú dokonca aj takí, ktorí si za nič na svete nechcú priznať, že sa pošmykli, že padli, že sa pomýlili. Pane, už viem, čo sa ma teraz opýtaš: „Dokážeš si priznať svoje pády,
            poklesky, slabosti, alebo bohorovne vyhlasuješ, že sa ti nič také nikdy nestalo a ani stať nemôže?!“ Daj Pane, aby z tohto tvojho prvého pádu padlo na mňa čím viac pokory!
            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>4. zastavenie – Pán Ježiš sa stretáva so svojou Matkou</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Matky sa súčasne rodia so svojimi deťmi. Rodí sa dieťa a s ním sa rodí aj jeho matka. Vraví sa, že nie je ťažké stať sa matkou, ťažšie je zostať matkou. Pre Máriu bol rovnako ťažký Betlehem, ako aj Jeruzalem. Bola úplne bezmocná pri
            ľudskom chlade Betlehemčanov, ako aj pri krvilačnej zlosti Jeruzalemčanov. Koľko bolestí musí ukryť srdce matky od kolísky až po hrob. Matky to veľmi dobre vedia. Nedávno som sa stretol s jednou matkou, ktorá mi rozprávala o tom, ako
            jej
            syn jedného dňa odišiel z domu do práce a už sa z nej nevrátil. Nikto ho nevidel a nikto ani len netuší, kde je. Odvtedy ubehlo 6 rokov a keďže za tento čas nebola o ňom žiadna správa, úrady jej syna chcú vyhlásiť za mŕtveho. Ona tomu
            stále nechce veriť a každý deň ho čaká a chystá večeru aj pre neho. Vždy s nádejou, že azda už dnes sa vráti. Matka – táto naoko krehká bytosť – je oveľa silnejšia, ako všetci hrdinovia všetkých čias. Nech teda stretnutie s každou
            matkou
            je nám také vzácne a povzbudivé, ako bolo stretnutie tej nazaretskej s odsúdeným Synom.
            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>5. zastavenie – Šimon Cyrenejský pomáha Pánu Ježišovi niesť kríž</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Hebrejské meno Šimon v našom jazyku znamená poslúchajúci, či počúvajúci. Tzn., že každý, kto dokáže druhého poslúchnuť, či vypočuť je Šimonom Ak poslúchaš otca, či matku si Šimonom. Ak vypočuješ toho, kto ťa o niečo prosí si Šimon. Ak
            pozorne počúvaš vo svojom srdci hlas Boží si Šimon. A predsa nie vždy a nie všade sme dokázali byť počúvajúcimi Šimonmi. Kriste, ty veľmi dobre vieš, kde sme ťa počuť nechceli a radšej sme sa tvárili, že nič nepočujeme. V našom živote
            už
            veľa ľudí prešlo popred nás so svojimi krížmi. Veľa očí sa na nás prosebne pozrelo, veľa rúk sa k nám s nádejou zdvihlo a veľa nôh sa z posledných síl rozbehlo a my sme v tej chvíli radšej cúvli, zakryli si oči, zapchali uši a ukázali
            chrbát. Koľko zmeškaných, či obídených krížových ciest našich blížnych! Pri tomto uvažovaní nad pomocníkom z Cyrény, vyslovujem ďalšiu prosbu: Daj všetkým Pane, zdravé šimonovské uši a oči, aby sme ťa počuli a videli vo všetkých tých,
            ktorých teraz stretneme na ich krížových cestách.
            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>6. zastavenie – Veronika podáva Pánu Ježišovi ručník</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Meno tejto ženy okrem iného znamená aj „pravý obraz, verná ikona“, lebo v tvári odsúdenca videla pravú tvár človeka – Krista. Preto táto žena má právo opýtať sa nás: Človeče, ešte vieš kto si naozaj? Skutočne poznáš svoju pravú tvár?
            Alebo si človekom tisícich tvári? Vieš, čo je to ešte úprimnosť? Dokážeš sa úprimne pozrieť druhému do očí, možno tak, ako malé dieťa otcovi? Ty sám najlepšie vieš, aký obraz sa skrýva pod tvojou uhladenou, navonok vyrovnanou, priam
            svätou tvárou! Avšak pred Bohom nám pristane iba jedna jediná – zahanbená tvár! Prosím ťa Pane, aby sme v týchto kajúcich dňoch dokázali aspoň pred Tebou odkryť svoju pravú tvár!

            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>7. zastavenie – Pán Ježiš padá druhý raz pod krížom</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Znovu je pod krížom. Pod tým istým, ktorý iba pred chvíľou zobral. Ten istý a predsa zdá sa oveľa ťažší. Aj toto Kristus skúsil. Chcel pocítiť na vlastnom tele, aké to je, keď sa znovu niečo nepodarí a musí sa znovu začať s pevnejším
            odhodlaním a s menšími silami. Tento pocit veľmi dobre poznáme. Možno sme ho zažili iba pred chvíľou, alebo včera. Ako je dobré vedieť, že Kristus to vie a má s nami súcit. Má to, čo nám mnohým chýba – vedieť druhého pochopiť, odpustiť
            mu a znovu ho povzbudiť. V mene všetkých, Pane, čo opakovane padáme, Ti ďakujem!
            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>8. zastavenie – Pán Ježiš napomína plačúce ženy</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Na tejto ceste sme už stretli matku Máriu, Veroniku a teraz stretávame skupinu žien, ktorá svojským spôsobom prejavila súcit s odsúdencom. Vo všetkých troch prípadoch si získavajú náš obdiv. Totiž všetky svojim spôsobom zmiernili
            Kristovu poslednú cestu. Boh akosi viac súcitu vložil do srdca tých bytostí, ktoré svet zvykne podceňovať. Sú to bytosti, ktoré majú v sebe často krát viac odvahy ako muži, ktoré vedia vytrvalejšie prosiť ako muži, a ktoré viac myslia
            na
            iných, ako na seba. Myslím si, že keby Ježiš išiel dnes našimi ulicami, určite by svoju ženskosť nezakryli a volali by: „Zachráň nám synov i dcéry! Vráť otcov rodinám! Uzdrav naše rodiny! Poraď, ako máme vychovávať naše deti, ktoré nám
            svet ukradol? Čo máme robiť, aby sme v tomto svete mohli obstáť ako ženy?“ Ježišu, daruj ženám to, čo im zobral svet: lásku, dôstojnosť, materinský cit, úctu k životu i k sebe samej. Vráť im do srdca všetko to, čo robí ženu ženou,
            presnejšie – čo ju robí svätou ženou.
            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>9. zastavenie – Pán Ježiš tretí raz padá pod krížom</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Pri tomto zastavení mám vždy taký pocit, akoby sa krížová cesta mala skončiť na tomto mieste. A predsa nie je to tak! Z posledných síl vstal a išiel ďalej… Koľko takýchto falošných koncov je v našom živote. Bola to možno lekárska
            správa,
            ktorá potvrdila tu najobávanejšiu diagnózu. Pri jej počutí si človek myslel, že v tej chvíli asi zomrie. …a nezomrel. Žije ďalej so svojim „chorým krížom.“ Alebo bola to možno aj nespravená záverečná skúška študenta. Pri jej výsledku
            si
            myslel, že sa mu zrúti celý svet. … a nezrútil sa. Ide sa ďalej s „nedokončeným krížom.“ Alebo to bolo ponižujúce obvinenie, či vyšetrovanie niekoho z rodiny. Celá rodina by sa v tej chvíli najradšej prepadla pod zem. …a neprepadla sa.
            Prežil sa aj tento čierny deň a „krížová cesta hanby“ pokračuje ďalej. Pane, prosím ťa o potrebné sily prekonať všetko to, čo nás pritlačilo tvárou k zemi a bráni nám ísť ďalej. Nech tvoj príklad z tohto deviateho zastavenia je
            povzbudením pre všetkých, ktorí už nevládzu, aby vedeli, že toto nie je koniec, že vždy sa musí žiť ďalej, aj keď v tej chvíli zdá sa byť i nebo zaprášené.

            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>10. zastavenie – Pána Ježiša zvliekajú zo šiat</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Vo vlastnom dome našli utýranú osemdesiatročnú ženu kvôli posledným dvestopäťdesiatym korunám. V mestskom parku prepadli a dobili študenta pre päťdesiat korún. Rozhádaní spolužiaci na smrť zbili deväťročného chlapca. Rodičia trýznili
            kvôli zlej známke vlastné dieťa. Takéto a im podobné sú zvesti týchto dní. Niet novín, niet jedných správ, kde by sme sa nedozvedeli o ďalšom prípade, keď človek siahol na človeka a zobral mu to posledné, čo mal, ba dokonca to
            najvzácnejšie – život. Zneuctenia, potupenia, okradnutia, prepadnutia, znásilnenia,… – denno-denne o tom počúvame, čítame a vidíme. A pomaly to už ani nevnímame. Zvykáme si. Toto zastavenie nás už ničím nezastavuje. Veď koľkým sa to
            dnes
            stáva… Načo stále s tým ľudí trápiť? Ozaj načo? Aby sme mali pokazený celý deň?! Alebo aby sme sa mohli neustále upokojovať, že my sme dobrí a svet je zlý? A nie je to skôr preto, aby sme týchto ľudí dokázali znovu zaodieť svojou
            modlitbou a zobrať ich do svojho srdca, ako milosrdný Samaritán a odniesť ich do domu nášho Otca? Každé úmyselné zatváranie očí, každé úmyselné obchádzanie týchto pokorených ľudí je hriechom proti láske k Bohu i k blížnemu. Lebo láska
            k
            Bohu sa meria láskou k blížnemu.

            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>11. zastavenie – Pána Ježiša pribíjajú na kríž</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Pribiť Krista na kríž a pribiť človeka na kríž – aký je v tom rozdiel? Žiadny! Aj jeden aj druhý cíti bolesť. Aj jeden aj druhý je úplne bezmocný. Aj jeden aj druhý je celý potupený. Vtedy sme Krista pribili klincami. Dnes pribíjame
            človeka našim ľahostajným postojom, nevšímavosťou, hrubým vydieraním, neodpustením, vzbudzovaním strachu, či napätia. To všetko človeka stigmatizuje a spôsobuje neznesiteľnú vnútornú bolesť. V minulosti zvykli stavať kríže s odsúdenými
            v
            blízkosti ciest – na výstrahu okoloidúcim. Či kríže dnešných odsúdených tohto sveta nie sú výstrahou pre nás, ktorí prechádzame okolo, aby sme vo svojom živote nikoho nepribili na kríž týmito „modernými klincami?“ Pane, ešte jedna
            zvláštna prosba: Daj nám odvahu radšej zostať ukrižovanými, ako stať sa ukrižovateľmi.
            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>



          <h3>12. zastavenie – Pán Ježiš umiera na kríži</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Skúste si niekedy nájsť čas a zapozerajte sa na ukrižovaného Krista. V tej chvíli ho budete počuť aj bez toho , aby otvoril ústa. Možno vám povie aj toto: „Pozri sa, ako veľmi ťa milujem! Pozri, čo všetko som pre teba dokázal! Pozri
            sa,
            ja som už premohol svet…!“ Už ste niekedy rozmýšľali nad tým, čo v tej chvíli Krista najviac bolelo? Tie nezahojené rany po bičovaní? Alebo tá tŕňová koruna vtlačená do hlavy? Alebo tie tri klince prerazené cez ruky a nohy do dreva
            kríža? Pravdepodobne ani jedná bolesť sa nevyrovná tej, ktorou bolo vedomie, že pre mnohých tento neľudský zápas o ľudskú dušu bude zbytočný, že mnohým bude úplne jedno, čo v tej chvíli podstúpil pre človeka na Kalvárii sveta, ba mnohí
            budú s chladnou ľahostajnosťou hovoriť: Pre mňa to robiť nemusel. Ja som jeho smrť nepotreboval. Mne je ukradnutý celý Kristus aj s celým krížom! Ľahkovážne slová, za ktorými stojí ľahkovážny život. V tejto chvíli pod krížom nám nič
            iné
            neostáva, len v mene všetkých slovami kajúceho lotra znovu poprosiť: Spomeň si na nás Pane, vo svojom kráľovstve!
            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>13. zastavenie – Pána Ježiša skladajú z kríža</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Klince sa vytiahnú, telo sa zabalí a pripraví na pohreb. Aj dnes sa to robí podobne. Monotónny piskľavý zvuk prístrojov oznámi, že smrť už prišla. Srdce prestalo robiť svoju prácu. Všetko sa odpája, pozrie sa na hodiny a zaznačí sa čas
            odchodu z tohto sveta. Neskôr človeka pripravia tak, aby čo najlepšie vyzeral po svojom zložení z kríža smrteľnej postele. Prichádzajú príbuzní a známi a potešujú rodinu slovami, že si už svoje odtrpel a má to za sebou. Teraz ho už nič
            netrápi… Poznáme tie reči. Dobre sa to vraví pred ušami, ktoré už nepočujú a ústami, ktoré nemôžu protestovať. Čo má vlastne ten človek za sebou? Aké dotrápenie sa? Aký koniec? Človek zložený z kríža má pred sebou ešte tú najvážnejšiu
            chvíľu svojho života – stretnúť sa s Bohom z tváre do tváre a vypočuť si výrok o sebe. Nakoniec aj jeho, aj nás čaká ešte jeden veľký deň – deň vzkriesenia. A tak ani on, ani my to ešte nemáme za sebou. Všetkých nás to ešte len čaká.
            Preto aj za nich, aj za seba prosíme: Ukrižovaný Ježišu, zmiluj sa nad nami!
            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>14. zastavenie – Pána Ježiša pochovávajú</h3>
          <p>
            <strong>V.</strong> Klaniame sa ti kriste a dobrorečíme ti. <br>
            <strong>R.</strong> Lebo si svojim krížom vykúpil svet.<br><br>
            Nikto z nás čo sme tu ešte neprekročil hranice hrobu. A predsa mnohí túto hranicu prechádzali veľmi dramaticky. Koľkých takto zasypalo v podzemných baniach?! Koľkí našli svoj hrob v potápajúcich sa lodiach?! A koľkí s hrôzou zomierali
            v
            padajúcich lietadlách?! V poslednom roku dvadsiateho storočia celý svet s napätím sledoval živý hrob ruskej ponorky. 118 ľudí vtedy kleslo v útrobách ponorky na dno mora. 95 z nich pravdepodobne zomrelo okamžite do dvoch minút. 23. sa
            podarilo ešte utiecť do poslednej miestnosti, kde bola vzduchová bublina s otrasnou zimou a tmou. V takomto beznádejnom stave z posledných síl napísal ešte posledné slová veliteľ siedmej sekcie ponorky: „Píšem už slepý. Je 13 hodín a
            15
            minút. Je nás tu 23 ľudí. Rozhodli sme sa byť spolu, pretože nikto z nás už nemôže uniknúť.“ Toľko bolo zverejnených slov. Ostatné boli iba pre rodinu. Nikto z nás by takto nechcel odísť do hrobu a určite to ani nikomu neželáme. Preto
            pri tomto zastavení nad Kristovým hrobom prosme za všetkých, ktorí našli svoj hrob ďaleko od svojej rodiny, ktorí zomreli na neznámych miestach, jednoducho za všetkých, ktorým na hrobe chýba kríž – znak víťazstva. Za tých všetkých
            prosíme: Odpočinutie večné daj im Pane, a svetlo večné nech im svieti! Nech odpočívajú v pokoji! Amen.
            <br><br>
            <strong>V.</strong> Ukrižovaný Ježišu zmiluj sa nad nami. <br>
            <strong>R.</strong> Aj nad dušami v očistci.
          </p>

          <h3>Záverečná modlitba</h3>
          <p>
            Možno na tejto krížovej ceste zaznelo príliš veľa bolesti, smútku, či zla, ktoré je vo svete. Ale boli to iba úlomky z kríža, ktorý stojí nad týmto svetom a to, čo sme spolu prešli bol iba kúsok z nekonečnej krížovej cesty sveta. Bola
            by
            to však cesta tragická, ak by mala skončiť v hrobe. Ako teda ďalej, aby život pre nás neskončil vo večnej tme? Jedna z mnohých odpovedí sa skrýva v prvom Timotejovom liste od sv. Pavla. Je takáto: „ Ale ty, Boží človek, utekaj pred
            (tým)
            zlom a usiluj sa o spravodlivosť, nábožnosť, vieru, lásku, trpezlivosť, miernosť. Bojuj dobrý boj viery a zmocní sa večného života….
            Prikazujem ti pred Bohom, ktorý všetkému dáva život, a pred Ježišom Kristom, ktorý dobrým vyznaním vydal pred Ponciom Pilátom svedectvo: Zachovávaj prikázanie bez poškvrny a bez úhony až do príchodu nášho Pána Ježiša Krista, ktorého v
            pravom čase ukáže blahoslavený a jediný vládca, Kráľ kráľov a Pán pánov.“
            <br>
            <strong>R.</strong> Amen.

            <h3>Modlitba na úmysel Svätého Otca</h3>
            <p>
              Otče náš... Zdravás, Mária...Sláva Otcu..
              <br>
              Pane Ježišu Kriste vypočuj Svätého Otca pápeža Františka, svojho námestníka aby dosiahol všetko, o čo prosí v tvojom mene od nebeského Otca. Lebo ty žiješ a kraľuješ na veky vekov.<br>
              <strong>R.</strong> Amen.
            </p>
    </div>
</div>
<div class="blockspace">
    <div class="block content data_sources">
        <p>Zdroj: <a href="http://krizovacesta.sk/kc-klasicka/krizova-cesta-III.php">krizovacesta.sk</a></p>
    </div>
</div>

{% endblock %}
