{% extends 'layout.html' %}
{% block head %}
    <meta name="description" content="">
    <title>Krížová cesta</title>
{% endblock %}
{% block main %}
<h1>Krížová cesta</h1>
<div class="blockspace">
    <div class="block content">
        <h1>Úvod</h1>
        <pre>
            <strong>Pieseň:</strong> 
            Kresťania, sem pospiechajte, - nad mukami rozjímajte,- ktoré za nás trpel Pán,- aby svojím umučením - a bolestným usmrtením - vykúpenie získal nám.
            <strong>Prípravná modlitba:</strong> 
            Milostivý Spasiteľ, Pane Ježišu Kriste, s poníženým srdcom sa ti klaniame ako svojmu Pánovi a Bohu. Ľutujeme svoje hriechy, lebo sme nimi urazili tvoju dobrotu.
            Chceme teraz vykonať pobožnosť krížovej cesty. Nech je vynáhradou za naše hriechy a nech podľa tvojej vôle pomôže dušiam v očistci. Pane Ježišu, milostivo vyslyš naše prosby. Lebo ty žiješ a kraľuješ na veky vekov. Amen.

        </pre>
    </div>
</div>
<br>
<div class="blockspace">
    <div class="block content">
        <h1>Prvé zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Ach, Baránka nevinného, - vernej lásky k nám plného, - na smrť kríža žiadajú. - Pilát výrok vyslovuje, - lebo Židov sa strachuje, . keď "Nech umrie! volajú. 
            <h2>Pán Ježiš je odsúdený na smrť </h2>
            K: Klaniame sa ti, Kriste a dobrorečíme ti.
            Ľ: Lebo si svojím krížom vykúpil svet.
            Pilát odsúdil na smrť Ježiša Krista. On ochotne prijíma výrok smrti, aby od nás odstránil výrok večného zatratenia.
            Chvíľka ticha na rozjímanie.
            <strong>Modlime sa:</strong>
            Pane Ježišu Kriste, ty si z lásky k nám podstúpil bolestnú a potupnú smrť na kríži. Daj, aby sme svoje hriechy, ktoré boli príčinou tvojej smrti, opravdivo poznali, zo srdca ich oľutovali, a tak boli oslobodení od večného zatratenia. 
            K: Ukrižovaný Ježišu, zmiluj sa nad nami.
            Ľ: Aj nad dušami v očistci.

        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Druhé zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Už kráľ slávy, Kristus Ježiš, - na ramená berie svoj kríž - bez slovíčka trpkého, - aby dlhy naše splatil - a našiel, čo v raji stratil - hriech človeka biedneho.  
            <h2>Ježiš berie na svoje plecia kríž</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti.
            Ľ: Lebo si svojím krížom vykúpil svet.
            Ježiš Kristus ochotne berie na svoje plecia kríž, obťažený našimi hriechmi. Tým chcel posvätiť a poľahčiť všetky naše životné kríže.
            Chvíľa ticha na rozjímanie.
            <strong>Modlime sa:</strong>
            Ježišu Kriste, ty si pre nás vzal na seba ťažký kríž. Daj, aby sme aj my z lásky k tebe prijímali kríže utrpenia a s ochotným srdcom ich niesli ako pokánie za svoje hriechy.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami.
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Tretie zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Ježiš cestou vysilený, - ťažkým krížom obťažený, - na zem padá v slabosti; a predsa v tej smutnej dobe - nemá nikto k jeho mdlobe - v srdci svojom ľútosti.  
            <h2>Ježiš prvý raz padá pod krížom</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti.
            Ľ: Lebo si svojím krížom vykúpil svet.
            Nemilosrdne zbičovaný a tŕním korunovaný Ježiš je už taký zoslabnutý, že pod ťarchou kríža padá na zem.
            Chvíľka na rozjímanie.
            <strong>Modlime sa:</strong>
            Ježišu, ta si ťažký kríž niesol a pod ním klesol. Bola to ťarcha našich hriechov. Vrúcne ťa prosíme, pre zásluhy tohto pádu uchráň nás od každého hriešneho pádu, aby sme novými hriechmi tvoje rany nerozmnožovali.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami.
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Štvrté zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Ježiš s krížom znova vstáva, - a hľa, s Matkou sa stretáva, - zaronenou slzami; - ó dve srdcia, tie bez viny, - boli vtedy žalostnými - preniknuté citmi.  
            <h2>Ježiš sa stretá so svojou matkou</h2>
            K: Klaniame sa ti, Kriste a dobrorečíme ti.
            Ľ: Lebo si svojím krížom vykúpil svet.
            Aký bolestný cit prenikol srdcom Panny Márie, keď uvidela svojho Syna, Pána a Boha, takého poníženého a potupeného. A ako bolestne sa zarmútilo aj srdce Pána Ježiša, keď zbadal svoju matku, plnú bolesti a zármutku.
            Chvíľka ticha na rozjímanie.
            <strong>Modlime sa:</strong> Pane Ježišu, pre toto bolestné stretnutie ťa prosíme, zapáľ v našom srdci opravdivú lásku k tvojej najsvätejšej matke. A ty, Matka Božia, vypros nám u svojho Syna milosť, aby v našom srdci nikdy nevyhasla pamiatka na jeho umučenie.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami.
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Piate zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Vždy viac slabnú sily tela - nebeského Spasiteľa, - už kríž uniesť nemôže; - Šimon k nemu pristupuje, - a ochotne podvoľuje, - že mu kríž niesť pomôže.  
            <h2>Šimon z Cyrény pomáha Pánu Ježišovi niesť kríž</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti. 
            Ľ: Lebo si svojím krížom vykúpil svet.
            Pán Ježiš musel byť na bolestnej ceste veľmi zoslabnutý, keď vojaci prinútili Šimona Cyrenejského, aby mu pomohol niesť kríž. Báli sa, aby nezomrel skôr, ako ho ukrižujú.
            Chvíľka na rozjímanie.
            <strong>Modlime sa:</strong> Ježišu Kriste, ty si pre nás ostal nevládny a slabý. Pre tvoju lásku ťa prosíme, daj, aby sme ti aj my pomáhali niesť kríž tým, že s kresťanskou trpezlivosťou budeme znášať všetky ťarchy svojho života.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami. 
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Šieste zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Tvár Kristova zapotená, - krvou svätou zarosená, - na krutý ľud pozerá; - Veronika šatkou bielou, - s útrpnosťou, láskou vrelou - tvár Kristovu utiera.  
            <h2>Veronika podáva Pánu Ježišovi šatku</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti. 
            Ľ: Lebo si svojím krížom vykúpil svet.
            Pán Ježiš si utiera krvou zaliatu tvár šatkou, ktorú mu podala Veronika. Z vďačnosti jej na ňu odtlačil podobu svojej tváre.
            Chvíľka na rozjímanie.
            <strong>Modlime sa:</strong> Ježišu Kriste, ty si láskavú službu Veroniky odmenil krvavým odtlačkom svojej tváre. Ponížene ťa prosíme, vtlač svoje umučenie hlboko do našich duší, aby sme naň nikdy nezabudli.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami. 
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>
<div class="blockspace">
    <div class="block content">
        <h1>Siedme zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Po druhý raz už Ježiša - k zemi tlačí ťarcha kríža, - na zem padá zomdletý; - slzou jeho zrak sa kalí - a z jeho rán krv sa valí, - ach, celý je strápený.  
            <h2>Pán Ježiš druhý raz padá pod krížom</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti. 
            Ľ: Lebo si svojím krížom vykúpil svet.
            Ježišove bolesti pod krížom zväčšil druhý pád. Naše opakované hriechy ich zväčšujú ešte viac.
            Chvíľka ticha na rozjímanie.
            <strong>Modlime sa:</strong> Milostivý Ježišu, veľa ráz si nám už odpustil a, bohužiaľ, my sme ťa znova urazili. Prosíme ťa, pre zásluhy tohto druhého pádu nás posilni, aby sme zotrvali v tvojej milosti a viac neupadli do predošlých hriechov.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami. 
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Ôsme zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Ježiš zasa sily zbiera, - vstáva s krížom a pozerá - ta, na ženy plačúce; - "Nad mojimi bolesťami - neplačte, lež nad svojimi - synmi slzte kajúcne".  
            <h2>Pán Ježiš napomína plačúce ženy</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti. 
            Ľ: Lebo si svojím krížom vykúpil svet.
            Pán Ježiš vraví ženám: "Neplačte nado mnou, ale samy nad sebou a nad svojimi deťmi". Učme sa od Pána Ježiša, že aj my máme radšej oplakávať svoje viny, ako žialiť nad jeho mukami, ktoré sme sami zapríčinili.
            Chvíľka na rozjímanie.
            <strong>Modlime sa:</strong> Pane, Ježišu Kriste, daruj nám milosť, aby sme sa pri pohľade na tvoje utrpenie rozpamätali na svoje hriechy a oplakávali ich slzami ľútosti.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami. 
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Deviate zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Pozbavený všetkej sily - po tretí raz Ježiš milý - k zemi klesá skalnatej. - Hľa, človeče, naše zlosti - bremenom sú tej ťažkosti - vinou krvi preliatej.  
            <h2>Pán Ježiš tretí raz padá pod krížom</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti. 
            Ľ: Lebo si svojím krížom vykúpil svet.
            Pán Ježiš je stále viac zoslabnutý a pri vrchole Kalvárie pod ťarchou kríža padá tretí raz na zem. Príčinou tohto pádu je aj naša krehkosť a nestálosť v dobrom.
            Chvíľka ticha na rozjímanie.
            <strong>Modlime sa:</strong> Ježišu, ta nevyčerpateľný prameň všetkých milostí, len pre nás si tak zoslabol. Posilňuj nás v našich slabostiach, aby sme premáhali všetky pokušenia; vyhýbali sa hriešnym príležitostiam, neustávali v konaní dobra a až do smrti ostali mravne dokonalí.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami. 
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Desiate zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Už sa cesta dokonáva, - nová muka zas nastáva, - keď mu rúcho zvliekajú, - lebo s hroznou ukrutnosťou - a s katanskou násilnosťou - zoschlé rany trhajú.  
            <h2>Pánu Ježišovi vyzliekajú šaty</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti. 
            Ľ: Lebo si svojím krížom vykúpil svet.
            Skončila sa cesta s krížom. Teraz zo svätého tela Pána Ježiša násilne a nehanebne strhli rúcho. Zoschnuté rany sa opäť otvorili a bolesti sa obnovili.
            Chvíľka na rozjímanie.
            <strong>Modlime sa:</strong> Ježišu, tak si pre hriešne žiadosti nášho tela a za naše hriechy nečistoty musel zniesť bolestné a necudné stŕhanie svojich šiat. Daj nám milosť, aby sme premáhali všetky hanebné myšlienky a žiadosti a až do smrti viedli čistý a mravný život.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami. 
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Jedenáste zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Ježiš z rúcha vyzlečený, - a na kríži rozostretý - ťažké muky skusuje; - jeho ruky, nohy jeho, - Baránka, ach nevinného, - rana klincov katuje. 
            <h2>Pána Ježiša pribíjajú na kríž</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti. 
            Ľ: Lebo si svojím krížom vykúpil svet.
            Ježiš prežíval nepredstaviteľné bolesti, keď jeho doráňané telo vystreli na kríž a pribili ho naň železnými klincami.
            Chvíľka na rozjímanie.
            <strong>Modlime sa:</strong> Ukrižovaný Ježišu, muky ukrižovania za naše hriechy si znášal len z lásky k nám. Naplň naše srdcia odporom voči hriechom a láskou k tebe. Sebazapieraním chceme seba samých križovať a všetky protivenstvá z lásky k tebe trpezlivo znášať.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami. 
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Dvanáste zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Ach, už je Pán sveta žitia, - plný bôľu, krvi, bitia, - na kríži povýšený; - Otcu ducha odovzdáva, - tak svoj úrad dokonáva, - aby svet bol spasený.
            <h2>Pán Ježiš na kríži zomiera</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti. 
            Ľ: Lebo si svojím krížom vykúpil svet.
            Zadívajme sa na ukrižovaného Pána Ježiša. Na kríži vyzdvihnutý medzi nebom a zemou tri hodiny trpí v mori múk a bolestí. Svoju dušu odovzdáva Otcovi, nakláňa hlavu a za nás zomiera.
            Chvíľka na rozjímanie.
            <strong>Modlime sa:</strong> Ukrižovaný Ježišu, ty si zomrel trpkou smrťou, len aby si uľahčil našu smrť a zaistil nám večný život. Daj, aby sme žili len pre teba a aby sme sa po smrti, ktorú prijmeme vďačne ako trest za hriechy, dostali do večnej spásy.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami. 
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Trináste zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Ježišovo sväté telo, - čo za nás na kríži pnelo, - z kríža dolu skladajú; - v Máriino sväté lono, - kde spočívať malo ono, - so žiakom ho vkladajú.
            <h2>Pána Ježiša skladajú z kríža</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti. 
            Ľ: Lebo si svojím krížom vykúpil svet.
            Nikodém a Jozef Arimatejský zložili z kríža Ježišovo telo a vložili ho do lona Panny Márie. Plná bolesti ho drží v náručí a s láskou ho objíma.
            Chvíľka na rozjímanie.
            <strong>Modlime sa:</strong> Bolestná Matka Božia, v lone držíš telo toho, ktorý zomrel za nás. Pre bolesť tvojho srdca ťa prosíme, vezmi aj nás do svojho materského náručia, aby sme pod tvojou ochranou zostali v živote i v hodine smrti, a tak dosiahli spásu.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami. 
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Štrnáste zastavenie</h1>
        <pre>
            <strong>Pieseň:</strong>
            Vykúpenie dokonané, - telo Krista pochované - v novom skalnom hrobe je; ale v hrobe nezostalo, - na tretí deň slávne vstalo - a jak slnko sa skveje.
            <h2>Pána Ježiša pochovávajú</h2>
            K: Klaniame sa ti, Kriste, a dobrorečíme ti. 
            Ľ: Lebo si svojím krížom vykúpil svet.
            Učeníci v posvätnej bázni položili Ježišovo telo do skalného hrobu, v ktorom odpočívalo do tretieho dňa, keď Ježiš slávne vstal z mŕtvych.
            Chvíľka na rozjímanie.
            <strong>Modlime sa:</strong> Pane Ježišu Kriste, vďaky ti vzdávame za všetky bolesti, ktoré si za nás pretrpel. Pre dôstojné pochovanie tvojho tela prosíme, udeľ milostivo, aby sme ťa v Oltárnej sviatosti dobre pripravení čím častejšie prijímali do čistého srdca, a tak aj sebe zabezpečili slávne zmŕtvychvstanie.
            K: Ukrižovaný Ježišu, zmiluj sa nad nami. 
            Ľ: Aj nad dušami v očistci.
        </pre>
    </div>
</div>

<div class="blockspace">
    <div class="block content">
        <h1>Záver</h1>
        <pre>
        <strong>Pieseň:</strong>
        Ó Ježišu milostivý, - by sme boli večne živí, - smrť si za nás podstúpil; daj, by plní povďačnosti - kráčali sme cestou čnosti, lebo si nás vykúpil. 
        <strong>Záverečná modlitba</strong>
        Milostivý a milosrdný Ježišu Kriste! Tvojej nekonečnej velebnosti obetujeme túto pobožnosť krížovej cesty. Chceme sa ňou poďakovať za tvoje nevýslovné bolesti a potupnú smrť, vyprosiť si odpustenie hriechov a zaslúžených trestov a pomoc pre duše v očistci.
        Ježišu, náš Spasiteľ a Vykupiteľ, nedopusť, aby tvoja svätá krv bola zbytočne za nás vyliata a aby cena tvojej smrti pre nás bola stratená. Ty nás spravuj na zemi a silou svojho umučenia vzkries nás k novému životu a voveď do života večného, kde ťa chceme chváliť a velebiť na veky vekov.

        R: Amen
        <strong>Modlitba na úmysel Svätého Otca</strong>
        Otče náš... Zdravas´... Sláva...

        Pane Ježišu Kriste, vyslyš Svätého Otca pápeža Jána Pavla II., svojho námestníka, aby dosiahol všetko, o čo prosí v tvojom mene od nebeského Otca. Lebo ty žiješ a kraľuješ na veky vekov.

        R: Amen.        

        </pre>
    </div>
</div>

{% endblock %}
