{% extends 'layout.html' %}

{% block main %}

<style>
.publikacie_container {
    display: flex;
    flex-wrap: wrap;
}

.publikacie_block {
    margin: 1%;
    
    width: 30%;
    position: relative;
    left: 2vw;
    top: 1vw;
    background-color: #f3f0f0;
    border-radius: 15px;
    padding: 20px;
}

@media (max-width: 600px) {
    .publikacie_block {
    width: calc(100% - 10vw);
    }
}
.publikacie_img {
  width: 95%;
}
h2{
    font-family:verdana;
    font-weight: bold;
    font-size: 150%;
}

</style>



<div class="publikacie_container">

  <div class="publikacie_block">
    <h2>Vnútro otvorené dokorán</h2>
    <img src="/static/publikacie/vnutro_otvorene_dokoran.jpg" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
    <h2>Dotyk neba</h2>
    <img src="/static/publikacie/dotyk_neba.webp" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
        <h2>Keramika Ivett Axamitová </h2>
        <img src="/static/publikacie/keramika.webp" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
        <h2>Filozoficko-estetické reflexie o modernom a postmodernom umení</h2>
        <img src="/static/publikacie/9.png" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
        <h2>Kríza postmodernej kultúry</h2>
        <img src="/static/publikacie/8.png" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
        <h2>Postmodernizmus a jeho civilizačno-kulturne konzekvencie</h2>
        <img src="/static/publikacie/3.png" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
        <h2>Základné otázky klasickej aristotelovsko-tomistickej metafyziky</h2>
        <img src="/static/publikacie/4.png" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
        <h2>Živor v postmodernej spoločnosti</h2>
        <img src="/static/publikacie/7.png" class="publikacie_img" loading="lazy">
    </div>

</div>
{% endblock %}