{% extends 'layout.html' %}

{% block main %}
<style>
  .events-table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #000;
  }

  .date {
    width: 20%;
  }

  .popis {
    width: 60%;
  }

  .popis-miestoacas{
    width: 20%;
  }

  h1,
  h2 {
    text-align: center;
  }

  .block {
    margin: 20px;
    padding: 10px;
  }

</style>
<h1>Oznamy</h1>
<div class="block">
  <div>
    <h2>Oznamy na {{ list[0] }}</h2>
    <table class="events-table">
      <tr>
        <th class="date">Dátum</th>
        <th colspan="3">Popis</th>
        <th>Čas a miesto</th>
      </tr>
      {% for day in list[1:-1] %}
      {% for event in day[:-1] %}
      <tr>
        {% if loop.index0 == 0 %}
        <td class="date" rowspan="{{ day[:-1] | length }}">{{ day[-1] }}</td>
        {% endif %}
        <td class="popis" colspan="3">{{ event[0] }}</td>
        <td class="popis-miestoacas">{{ event[1] }} {{ event[2] }}</td>
      </tr>
      {% endfor %}
      {% endfor %}
    </table>
  </div>
  <pre>{{ list[-1] }}</pre>
</div>

{% endblock %}