{% extends 'layout.html' %}
{% block title %} Farnosť Rišňovce {% endblock %}
{% block head %}
    <title>Farnosť Rišňovce - {{ text[1] }}</title>
    <link rel="stylesheet" href="/static/css/post.css">
{% endblock %}
{% block main %}

<div class="blockspace">
    <div class="block content">
        <h1>{{ text[1] }}</h1>
        <p class="datum">{{ text[4] }}</p>
        <pre>{{ text[5] }}</pre>
        {% for image in text[2] %}
            <img src="{{ image }}" alt="{{ text[3] }}" class="photo">
        {% endfor %}
        
    </div>
</div>

{% endblock %}