{% extends 'layout.html' %}
{% block title %} Publikácie {% endblock %}
{% block head %}
    {% if category == "monografie" %}
        <title>Jozef Jurina - Monografie</title>
        <meta name="description" content="Publikácie PhDr. PaeDr. Jozefa Jurinu PhD. na témy umenia, kultúry a filozofie. Tituly ako Vnútro otvorené dokorán, Dotyk neba, Kríza postmodernej kultúry a ďalšie prinášajú reflexie o modernom a postmodernom svete." />
    {% endif %}

    {% if category == "ucebne_materialy" %}
        <title>Jozef Jurina - Učebné materiály</title>
        <meta name="description" content="Učebné materiály od autora PhDr. PaeDr. Jozefa Jurinu, PhD. s filozofickými témami pre Trnavská Univerzita teologická fakultu a Katolícka univerzita v Ružomberku.">
    {% endif %}

    {% if not category %}
        <title>Jozef Jurian - Publikácie</title>
        <meta name="description" content="Prezerajte si všetky publikácie od PhDr. PaeDr. Jozefa Jurinu, PhD. Objavte diela, ktoré sa zaoberá filozofiou, kultúrou a umením. Vrátane učebných materiálov o filozofických témach pre Trnavská Univerzita teologická fakultu a Katolícka univerzita v Ružomberku" />
    {% endif %}

    <link rel="stylesheet" href="../static/css/publikacie.css">
{% endblock %}
{% block main %}

<div class="publikacie_container">

    {% for book in books %}
    {% if not category or book.category == category %}
    <div class="publikacie_block">
        <h2>{{ book.title }}</h2>
        <img src="/static/img/publikacie/{{book.image }}" class="publikacie_img" loading="lazy">
    </div>
    {% endif %}
    {% endfor %}


</div>
{% endblock %}