{% extends 'layout.html' %}
{% block head %}
    <meta name="description" content="Všetky učebné materiály od Jozef Jurinu.">
    <title>Jozef Jurina - Učebné materiály</title>
{% endblock %}
{% block main %}

<style>
.publikacie_container {
    display: flex;
    flex-wrap: wrap;
}

.publikacie_block {
    margin: 1%;
    
    width: 30%;
    position: relative;
    left: 2vw;
    top: 1vw;
    background-color: #f3f0f0;
    border-radius: 15px;
    padding: 20px;
}

@media (max-width: 600px) {
    .publikacie_block {
    width: calc(100% - 10vw);
    }
}
.publikacie_img {
  width: 95%;
}
h2{
    font-family:verdana;
    font-weight: bold;
    font-size: 150%;
}

</style>



<div class="publikacie_container">

    <div class="publikacie_block">
        <h2>Stručný prehľad dejín filozofie - Starovek</h2>
        <img src="/static/publikacie/11.png" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
        <h2>Stručný prehľad dejín filozofie Stredovek</h2>
        <img src="/static/publikacie/5.png" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
        <h2>Stručný prehľad dejín filozofie - Novovek</h2>
        <img src="/static/publikacie/2.png" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
        <h2>Stručný prehľad dejín filozofie Novovek</h2>
        <img src="/static/publikacie/1.png" class="publikacie_img" loading="lazy">
    </div>

    <div class="publikacie_block">
        <h2>Stručný prehľad dejín filozofie - Stredovek</h2>
        <img src="/static/publikacie/6.png" class="publikacie_img" loading="lazy">
    </div>


    <div class="publikacie_block">
        <h2>Vybrané kapitoly z dejín filozofie</h2>
        <img src="/static/publikacie/10.png" class="publikacie_img" loading="lazy">
    </div>

</div>
{% endblock %}